extends layout

block content
  // ==============================================================
  // main wrapper
  // ==============================================================
  .dashboard-wrapper
    .dashboard-ecommerce
      .container-fluid.dashboard-content
        // ==============================================================
        // pageheader
        // ==============================================================
        .row
          .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            .page-header
              h2.pageheader-title Admin Manage
              
        // ==============================================================
        // end pageheader
        // ==============================================================
        
        .row
          .col-12
            .card
              h5.card-header
                a.btn.btn-primary.float-right(href='/users/addAdmin') Add Admin

              .card-body.p-0
                .table-responsive
                  table.table
                    thead.bg-light
                      tr.border-0.d-flex
                        th.border-0.col-2 first name
                        th.border-0.col-2 last name
                        th.border-0.col-2 role
                        th.border-0.col-3 email
                        th.border-0.col-2 description
                        th.border-0.col-1 status
                    tbody
                      each users in userlist
                        tr.d-flex
                          td.col-2 #{users.firstName}
                          td.col-2 #{users.lastName}
                          td.col-2 #{users.role}
                          td.col-3 #{users.email}
                          
                          td.col-2
                            .row
                              a.btn.btn-primary( href='/users/adminlist/profile?id=' + `${users._id}` role='button')
                                i.fa.fa-eye(aria-hidden='true')
                          td.col-1
                            .row
                              if users.isMine
                              else
                                a.btn.btn-primary( href='/users/adminlist/updateStatus?id=' + `${users._id}` role='button') Change
                                
                      
                      td     
                        .row                 
                          .col-11
                            nav(aria-label='Page navigation example')
                              ul.pagination
                                if hasPrevPage
                                  li.page-item
                                    a.page-link(href='?page=' + `${currentPage - 1}`   ) Previous
                                  li.page-item
                                    a.page-link(href='?page=' + `${currentPage - 1}`  ) #{currentPage - 1}
                                else 
                                  li.page-item
                                    a.page-link( href='#') Previous
                                li.page-item.active
                                  a.page-link(href='?page=' + `${currentPage}` ) #{currentPage}
                                if hasNextPage
                                  li.page-item
                                    a.page-link(href='?page=' + `${currentPage + 1}`  ) #{currentPage + 1}
                                  li.page-item
                                    a.page-link(href='?page=' + `${currentPage + 1}`  ) Next
                                else
                                  li.page-item
                                    a.page-link(href='#') Next