extends layout

block content
  // ==============================================================
  // wrapper
  // ==============================================================
  .dashboard-wrapper
    .dashboard-ecommerce
      .container-fluid.dashboard-content
        // ==============================================================
        // pageheader
        // ==============================================================
        .row
          .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            .page-header
              h2.pageheader-title Product Lists
              p.pageheader-text
                | Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.
              .page-breadcrumb
                nav(aria-label='breadcrumb')
                  ol.breadcrumb
                    li.breadcrumb-item
                      a.breadcrumb-link(href='#') Dashboard
                    li.breadcrumb-item.active(aria-current='page') Product Lists
        // ==============================================================
        // end pageheader
        // ==============================================================
        .ecommerce-widget
          .row
            // ==============================================================
            // ==============================================================
            // recent orders
            // ==============================================================
            .col-12
              .card
                h5.card-header
                  | Product Lists
                  a.btn.btn-outline-light.float-right(href='/product/addProduct') Add Product
                  form.form-inline(action='/product/search' method='get')
                    .form-group
                      input.form-control(type='text', name='q',placeholder='Nhập tên sách')
                    button.btn(type='submit')
                      i.fa.fa-search
                  
                  form(method='get' action='/product/category')
                    .form-group
                      select.form-control(onchange='this.form.submit()' name='categoryId')
                        if currentCategoryId == 'all'
                          option(value='all' seleted='true') All Categories
                        else
                          option(value='all') All Categories
                        each category in categories
                          if category._id == currentCategoryId
                            option(selected='true' value=category._id) #{category.name}
                          else
                            option(value=category._id) #{category.name}

                .card-body.p-0
                  .table-responsive
                    table.table
                      thead.bg-light
                        tr.border-0.d-flex
                          th.border-0.col-1 #
                          th.border-0.col-2 Cover
                          th.border-0.col-3 Product Name
                          th.border-0.col-3 Category
                          th.border-0.col-2 Base Price
                          th.border-0.col-1 Action
                          //- th.border-0 Status
                      tbody
                        each product, index in products
                          tr.d-flex
                            td.col-1 #{index + 1}
                            td.col-2
                              .m-r-10
                                if product.imgs
                                  img.rounded(src=product.imgs[0] alt='cover' width='45')
                            td.col-3 #{product.name}
                            //- td #{product._id} 
                            //- td 20 Số lượng sản phẩm --> thêm sau
                            td.col-3 #{categoriesList[index].name}
                            td.col-2 #{product.basePrice}
                            td.col-1
                              
                              a(href="/product/edit/" + product._id) 
                                i.fas.fa-edit Edit
                              br
                              a(href="/product/delete/" + product._id) 
                                i.fas.fa-trash-alt  Delete

                        
            .col-12
              nav(aria-label='Page navigation example')
                ul.pagination
                  if hasPrevPage
                    li.page-item
                        a.page-link(href='?page=' + (currentPage - 1) + pageLink  ) Previous
                    li.page-item
                        a.page-link(href='?page=' + (currentPage - 1) + pageLink ) #{currentPage - 1}
                  li.page-item.active
                    a.page-link(href='?page=' + currentPage ) #{currentPage}
                  if hasNextPage
                    li.page-item
                      a.page-link(href='?page=' + (currentPage + 1) + pageLink ) #{currentPage + 1}
                    li.page-item
                      a.page-link(href='?page=' + (currentPage + 1) + pageLink ) Next
    .footer
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
            | Copyright &copy; 2018 Concept. All rights reserved. Dashboard by 
            a(href='https://colorlib.com/wp/') Colorlib
            | .
          .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
            .text-md-right.footer-links.d-none.d-sm-block
              a(href='javascript: void(0);') About
              a(href='javascript: void(0);') Support
              a(href='javascript: void(0);') Contact Us
    // ==============================================================
    // end footer
    // ==============================================================
  // ==============================================================
  // end wrapper
  // ==============================================================

