extends layout

block content
  // ==============================================================
  // main wrapper
  // ==============================================================
  .dashboard-wrapper
    // ==============================================================
    // navbar
    // ==============================================================
    
    .row
      .col-sm-3
      .col-sm-9
        table.table.table.m-t-40
          thead
            tr
              //- th(scope='col') avatar
              th(scope='col') fisrtName
              th(scope='col') lastName
              th(scope='col') role
              th(scope='col') email   
              th(scope='col') edit
              th(scope='col') status
            

              
          tbody
            each users in userlist
              tr
                th(scope='row') #{users.firstName}
                td #{users.lastName}
                td #{users.role}
                td #{users.email}
                
                td
                  .row
                    //- a.btn.btn-primary( href='/users/userlist/edit?id=' + `${users._id}`  role='button')
                    //-   i.fa.fa-pencil(aria-hidden='true')
                    a.btn.btn-primary( href='/users/userlist/del?id=' + `${users._id}` role='button')
                     i.fa.fa-trash(aria-hidden='true')
                td
                  .row
                      
                      a.btn.btn-primary( href='/users/userlist/updateStatus?id=' + `${users._id}` role='button')
                        i.fa.fa-trash(aria-hidden='true')
            td     
              .row                 
                .col-12
                  nav(aria-label='Page navigation example')
                    ul.pagination
                      if hasPrevPage
                        li.page-item
                          a.page-link(href='?page=' + `${currentPage - 1}`   ) Previous
                        li.page-item
                          a.page-link(href='?page=' + `${currentPage - 1}`  ) #{currentPage - 1}
                      else 
                        li.page-item
                          a.page-link( href='#') Previous
                      li.page-item.active
                        a.page-link(href='?page=' + `${currentPage}` ) #{currentPage}
                      if hasNextPage
                        li.page-item
                          a.page-link(href='?page=' + `${currentPage + 1}`  ) #{currentPage + 1}
                        li.page-item
                          a.page-link(href='?page=' + `${currentPage + 1}`  ) Next
                      else
                        li.page-item
                          a.page-link(href='#') Next
                        

  script(src='../public/assets/vendor/jquery/jquery-3.3.1.min.js')
  // bootstap bundle js
  script(src='../public/assets/vendor/bootstrap/js/bootstrap.bundle.js')
  // slimscroll js
  script(src='../public/assets/vendor/slimscroll/jquery.slimscroll.js')
  // main js
  script(src='../public/assets/libs/js/main-js.js')
  // chart chartist js
  script(src='../public/assets/vendor/charts/chartist-bundle/chartist.min.js')
  // sparkline js
  script(src='../public/assets/vendor/charts/sparkline/jquery.sparkline.js')
  // morris js
  script(src='../public/assets/vendor/charts/morris-bundle/raphael.min.js')
  script(src='../public/assets/vendor/charts/morris-bundle/morris.js')
  // chart c3 js
  script(src='../public/assets/vendor/charts/c3charts/c3.min.js')
  script(src='../public/assets/vendor/charts/c3charts/d3-5.4.0.min.js')
  script(src='../public/assets/vendor/charts/c3charts/C3chartjs.js')
  script(src='../public/assets/libs/js/dashboard-ecommerce.js')
